
	/*CUSTOM CSS*/

	html, body {
	  height: 100%;
	}
	body {
	  padding: 50px 0 0 0;
	  font-size: 16px;
	  font-family: 'Lato', sans-serif;
	}

	.page-header {
		margin: 10px;
	}

	.navbar-brand, .navmenu-brand, h1, h2 {
		font-family: 'Noto Serif', serif;
		color: #03478a;
	}

	#wrapper {
		padding: 0 100px;
	}

	#header-img {
		width: 100%;
		height: 100px;
	}

	div#wrapper.container {
		padding: 0 150px;
		margin: 0;
	}

	.navmenu {
	  padding-top: 50px;
	  background-color: #e7ece5;
	}

	.navmenu-default .navmenu-nav>.active>a {
		color: #e7ece5;
		background-color: #165ea5;
	}

	.navmenu-fixed-left {
	    -webkit-box-shadow: 10px 4px 58px -16px rgba(0,0,0,0.75);
	    -moz-box-shadow: 10px 4px 58px -16px rgba(0,0,0,0.75);
	    box-shadow: 10px 4px 58px -30px rgba(0,0,0,0.75);
	}

	.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a {
		color: #03478a;
	}

	.navmenu-default .navmenu-nav>li>a:hover,
	.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover {
		background-color: #03478a;
		color: white;
	}

	.navbar {
	  display: block;
	  text-align: center;
	}
	.navbar-brand {
	  display: inline-block;
	  float: none;
	}
	.navbar-toggle {
	  position: absolute;
	  float: left;
	  margin-left: 15px;
	}

	.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-default, .navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand, .navbar-default .navbar-brand {
		color: #03478a;
		background-color: #dee2d1;
	}

	.container {
	  max-width: 100%;
	}

	.banner-img {
	  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(AdobeHills.png) center center no-repeat;
	  background-size: cover;
	  color: white;
	  padding:40px 0;
	  margin-bottom: 20px;
	}

	.banner-img h1 {
	  color: white !important;
	  font-size: 50px;
	}

	#wrap {
		margin-top: 100px;
	}

	.container-fluid {
		padding: 0;
	}
	.alignleft {
		display: inline;
		float: left;
	}

	.alignright {
		display: inline;
		float: right;
	}

	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.tiny-text {
	  font-size: 12px;
	}

	hr {
	    border: 0;
	    height: 1px;
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	#board-minutes td {
	  padding-right: 20px;
	}

	#contentarea a {
	  text-decoration: underline;
	}

	.navbar-toggle {
	  margin-top: 15px !important;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: #dee2d1 !important;
	    margin-top: 35px;
	}

	.navmenu, .navbar-offcanvas {
	    width: 350px;
	    text-align: center;
	}

	.close-btn:after {
	    display: inline-block;
	    content: "\00d7";
	    font-size: 40px;
	    color: #928f8f;
	}

	@media screen and (min-width: 1px) {
	  .navbar-toggle {
	    display: block !important;
	  }
	}

	@media screen and (min-width: 992px) {
	  body {
	    padding: 0 0 0 350px;
	  }
	  .navmenu {
	    padding-top: 20px;
	  }
	  .navbar {
	    display: none !important; /* IE8 fix */
	  }

	  .container {
			padding: 0 10px;
		}
	}

	@media screen and (max-width: 992px) {
		div#wrapper.container {
			padding: 0 25px;
			margin: 0;
		}

	  .banner-img h1 {
	    font-size: 30px;
	  }

		.navbar-brand {
			margin-left: 50px;
			/* margin-bottom: 20px; */
		}

		button.navbar-toggle, button.navbar-toggle:hover {
			background-color: rgba(0,0,0,0);
		}

		.navmenu {
			padding-top: 80px;
		}
	}

		.canvas-slid {
			width: 100% !important;
		}
		.hamburger {
		    width: 25px;
		    height: 3px;
		    background-color: #928f8f;
		    margin: 5px 0;
		}
		#close-btn,
		.hamburger:hover {
			cursor: pointer;
		}
		#hamburger-menu {
	    position: absolute;
	    top: 18px;
	    left: 21px;
		}
		#off-canvas-menu {
			position: fixed;
			z-index: 99999;
			top: 0;
			left: -3000px;
			width: 100%;
			height: 100%;
			background-color: white;
			transition: 0.2s ease;
		}
		.open-menu {
			left: 0 !important;
		}
		#hamburger-link {
			/* padding-top: 20px; */
			background-color: #dee2d1;
		}
		#hamburger-link li {
	    padding: 10px 20px;
	    display: block;
	    background-color: white;
			text-align: center;
		}
		#hamburger-link li a {
			color: #03478a !important;
		}
		.navbar {
	    min-height: 68px;
		}
